main{
    padding:1px;   
    border: 1px solid #e0d4af;
}

main img{
    float: left;
}

header{
    width:100%;
}

#content{
    width: 750px;
    border: 1px solid #e0d4af;  
    float:left; 
    box-shadow: 0 0 3px #7c7151;    
    margin:12px;
    padding: 30px;
}

#content h1{
    font-size: 32px;
    height: 50px;
    font-style: normal;
}


#content img:not(#daodu img){
    width: 300px;
    margin: 5px;
}

#daodu{
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    height: 100px;
}

#daodu pre{
    line-height: 30px;
    font-family: inherit;
    word-wrap: break-word;
    color: #7C6854;
    white-space: pre-wrap;
    margin: 20px 40px 20px 140px;
}

#daodu img{
    height: 100px;
}

#story{
    width: 350px;
    float:left;
    vertical-align: top;
}

#content p,#story p{
    font-size: 14px;
    text-indent: 2em;
    margin: 10px 0;
    color: #333333;
    line-height:23px;
}

#story div{
    border: 1px solid #e0d4af;
    box-shadow: 0 0 3px #7c7151;
    padding: 20px;
    margin:13px 0px 13px 13px;
}

#story em{
    color: #BCBCBC;
}

#story img{
    width: 100px;
    height: 100px;
    margin: 10px;
}

#story3 ul li{
    list-style-position: inside;  
    font-size: 14px;
}

body>aside{
    position: fixed;
    top:200px;
    left: 0;
    margin-left: -305px;
}

body>aside:hover{
    margin-left: 0;
}

body>aside marquee{
    position: relative;
    font-size: 18px;
    width: 18px;
    background-color:#0F1A52;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 0 3px black;
    color: #f8e0b0;
}